body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #006b3c;
}

.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.form-box {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #888;
  font-weight: 500;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  font-size: 0.8em;
  color: #13b764;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #333;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.btn-login-register {
  width: 100%;
  height: 45px;
  background: #13b764;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn-login-register:hover {
  background-color: #0e914b;
}

.login-register-link {
  font-size: 0.9em;
  color: #555;
  text-align: center;
  margin-top: 25px;
}

.login-register-link a {
  color: #13b764;
  text-decoration: none;
  font-weight: 600;
}

.login-register-link a:hover {
  text-decoration: underline;
}
